<div class="container-fluid">
  <div class="footer">
    <div class="horizon">
      <hr class="hr">
    </div>
    <div class="d-flex justify-content-bewteen">
      <div class="container firstcontain">
        <ul>
          <li>
            <div class="logoo">
              <img class="logo" src="logo.png" alt="logo of the company">
            </div>
            <div class="copyright">
              © 2025 </div>
          </li>
        </ul>
      </div>
<div class="container secondcontain">
  <ul>

🔗 Quick Links
    <li>



    </li>
  </ul>
</div>
<div class="container secondcontain">



    <ul>
        content 3
        <li>


        </li>
    </ul>
</div>


</div>








    </div>

  </div>

