*{
    margin:0;
    padding:0;
}
.footer{
    background:rgb(248 249 250);
    /* margin:0px; */
height:50vh;    
box-shadow: 20px 0px 0px 0px;

}
.hr{
    height:0.8px;
    width:90%;
    position:relative;
    top:40px;
   
    margin-left:auto;
    margin-right:auto;
}
.logo,.firstcontainer,.secondcontainer,.thirdcontainer
{
    width:225px;
    margin:70px;    
    margin-bottom: 40px;
}

.copyright{
    margin-top:0px;
    margin-left:150px;
}
