<div class="container-fluid">
  <div class="footer">
    <div class="horizon">
      <hr class="hr">
    </div>
    <div class="d-flex justify-content-bewteen">
      <div class="container firstcontain">
        <ul>
          <li>
            <div class="logoo">
              <img class="logo" src="logo.png" alt="logo of the company">
            </div>
            <div class="copyright">
              © 2025 </div>
          </li>
        </ul>
      </div>
<div class="container secondcontain text-center">
  <ul class="">
 Quick Links
<br>

    <li>


Home
    

</li>
<li>Explore packages</li>

<li>Top destinations</li>

<li>FAQ</li>
<li>Terms & Conditions</li>
<li>Privacy Policy</li>


</ul>
</div>
<div class="container secondcontain">



    <ul>
        content 3
        <li>


        </li>
    </ul>
</div>


</div>








    </div>

  </div>

