<div class="container mt-5 shadow-large">
  <div class="row">
    <div class="col-md-6 mb-4">
      <img
        src="TajMahal.webp"
        class="img-fluid rounded shadow"
        alt="image Of Package"
      />
    </div>

    <div class="col-md-6">
      <h2>Western Ghats Nature Retreat</h2>
      <p class="text-muted"><strong>Duration: </strong>9 days</p>
      <p class="text-muted"><strong>Package Price: </strong>$15434.25</p>
      <h6><b>Summary</b></h6>
      <p>Reconnect with nature in Wayanad and Bandipur National Park.</p>
      <h6><b>Detailed Description</b></h6>
      <p>
        Start in Wayanad, where lush forests, waterfalls, and ancient caves
        await. Trek to Edakkal Caves, visit Banasura Sagar Dam, and relax in
        jungle resorts surrounded by wildlife. The region’s biodiversity and
        tranquility are unmatched.\n\nThen head to Bandipur National Park for
        thrilling safaris and close encounters with elephants, deer, and maybe
        even a tiger. This retreat is perfect for those seeking peace,
        adventure, and a deep connection with nature.
      </p>
      <h6><b>Services Included</b></h6>
      <div>
         <div class="badge text-bg-primary m-2">Food</div>
         <div class="badge text-bg-primary m-2">Stay</div>
         <div class="badge text-bg-primary m-2">Travel</div>
      </div>
      <br/>
      <button class="btn btn-success">Book now</button>
    </div>

    
  </div>
</div>
