
<div class="search d-flex justify-content-center align-items-center">
    <input type="text" #searchInput  placeholder="Search agents"   style="width:300px;height:40px;border-radius:10px;">
    <button class="btn" (click)="searchAgents(searchInput.value)">🔎</button>
</div>
<div class="container d-flex flex-wrap justify-content-between ">
    <div class="tile mb-4 p-3 mt-5" *ngFor="let agent of filterAgents">
        <div class="agent-info">
            <h3>{{agent.name}}</h3>
            <p>🏠Location: {{agent.location}}</p>
            <p>☎️Phone: {{agent.phone}}</p>
        </div>
        <button class="btn btn-danger d-block mx-auto" (click)="deleteAgent(agent.id)">Suspend</button>
    </div>
</div>