
 <div class="container">
    <div class="row p-2 ">
        <div class="card col-md-3 m-4 shadow-medium hover-lift" style="display: flex; justify-content: space-around; cursor: pointer;" *ngFor="let pkg of packages">
            <img [src] = "pkg.ImageSrc" class="card-img-top" alt="{{pkg.Title}}">
            <div class="card-body">
                <h5 class="card-title">{{pkg.Title}}</h5>
                <p class="card-text">{{pkg.Description}}</p>
                <!-- <a href="#" class="btn btn-primary">Book now    </a> -->
                 <a [routerLink] = "['/package', pkg.PackageID]" class="btn btn-primary">Book Now</a>
            </div>
            
        </div>
    </div>
 </div>
