<div>
    <div class="row p-2">
        <div class="card col-md-3 m-4" style="width: 18rem;">
            <img src="./carousel/pic1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">West Bengal</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of West Bengal — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4" style="width: 18rem;">
            <img src="./carousel/pic1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">West Bengal</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of West Bengal — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4" style="width: 18rem;">
            <img src="./carousel/pic1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">West Bengal</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of West Bengal — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4" style="width: 18rem;">
            <img src="./carousel/pic1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">West Bengal</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of West Bengal — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="card col-md-3 m-4" style="width: 18rem;">
            <img src="./carousel/pic1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">West Bengal</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of West Bengal — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4" style="width: 18rem;">
            <img src="./carousel/pic1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">West Bengal</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of West Bengal — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4" style="width: 18rem;">
            <img src="./carousel/pic1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">West Bengal</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of West Bengal — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4" style="width: 18rem;">
            <img src="./carousel/pic1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">West Bengal</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of West Bengal — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="card col-md-3 m-4" style="width: 18rem;">
            <img src="./carousel/pic1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">West Bengal</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of West Bengal — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4" style="width: 18rem;">
            <img src="./carousel/pic1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">West Bengal</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of West Bengal — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4" style="width: 18rem;">
            <img src="./carousel/pic1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">West Bengal</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of West Bengal — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4" style="width: 18rem;">
            <img src="./carousel/pic1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">West Bengal</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of West Bengal — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
    </div>
</div>