@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}



.hover-lift {
    transition: transform 0.5s  ease-in-out;

}

.hover-lift:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 12px rgba(0,0,0,0.3);

}

span {
    font-family: "Open Sans", sans-serif;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
    font-size: 2.3rem;
    color: #333;
}