<div>
    <h1>User Booking Details</h1>
    <div class="container" >
        <div class="row fw-bold"  >
            <div class="col-2">SL No.</div>
            <div class="col-3">Booking Id</div>
            <div class="col-4">User Name</div>
            <div class="col-3">Booking Status</div>
        </div>
        <div class="row" >
            <div class="col-2">01</div>
            <div class="col-3">2342s-dfs23</div>
            <div class="col-4">Vivek C</div>
            <div class="col-3">Booking Confirmed</div>
        </div>
        <div class="row" >
            <div class="col-2">01</div>
            <div class="col-3">2342s-dfs23</div>
            <div class="col-4">Vivek C</div>
            <div class="col-3">Booking Confirmed</div>
        </div>
        <div class="row" >
            <div class="col-2">01</div>
            <div class="col-3">2342s-dfs23</div>
            <div class="col-4">Vivek C</div>
            <div class="col-3">Booking Confirmed</div>
        </div>
        <div class="row" >
            <div class="col-2">01</div>
            <div class="col-3">2342s-dfs23</div>
            <div class="col-4">Vivek C</div>
            <div class="col-3">Booking Confirmed</div>
        </div>
    </div>
</div>