/* Responsive text */
@media (max-width: 768px) {
  .carousel-caption {
    font-size: 1rem;
    padding: 8px 12px;
  }
}


/* Carousel container */
.full-width-carousel {
  width: 100%;
  max-height: 350px;
  overflow: hidden;
  position: relative;
}

/* Carousel images */
.carousel-item img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  position: relative;
  filter: brightness(50%); /* Darkens the entire image */
}

/* Centered caption text */
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #fff;
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 3rem;
  font-family: 'Lucida Handwriting', serif;
  text-align: center;
}