.navbar .nav-link,
.navbar .navbar-brand,
.navbar .btn {
  color: white !important;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.design{
    position:relative;

}
.design::after{
    content:"";
    background-color:rgba(255, 255, 255, 0.55);
    transform:scaleX(0);
    height:2px;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    transition:transform 0.4s ease-in-out;


}

.design:hover::after{
    transform:scaleX(1);
}
.btn-holo {
  background: linear-gradient(90deg, #ff00cc, #3333ff, #00ccff, #ffcc00, #ff00cc);
  background-size: 400% 400%;
  animation: hologram 4s linear infinite;
  border: none;
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

@keyframes hologram {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}
