
<!-- 
<div class="position-relative">
  <img src="home3.jpg" class="w-100" style="height: 100vh; object-fit: cover;">
  
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>
  <app-navbar class="position-absolute top-0 start-0 w-100"></app-navbar>
</div>
<app-customer-auth-modal></app-customer-auth-modal> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-dashboard/> -->

<!-- <app-navbar></app-navbar>  -->
 
<!-- <app-card></app-card> -->
<!-- <app-card-detail></app-card-detail>  -->
<!-- <app-list-packages/>  -->
<!-- <app-footer></app-footer> -->
<app-adminlayout></app-adminlayout>

