<!-- <router-outlet/>
<app-list-packages/> -->

<router-outlet/>

<!-- <app-dashboard/>  -->
<!-- <div class="position-relative"> 
 <app-dashboard/>  -->

 <!-- <app-agent-navbar/> -->
<!-- <router-outlet/> -->

<!-- <div class="position-relative">
  <img src="home3.jpg" class="w-100" style="height: 100vh; object-fit: cover;">
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>
  <app-navbar class="position-absolute top-0 start-0 w-100"></app-navbar>
</div>  -->


<!-- <div class="position-relative" style="height: 50vh;"> 
  <img src="home3.jpg" class="w-100" style="height: 50vh; object-fit: cover;">
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>
  <app-navbar class="position-absolute top-0 start-0 w-100"></app-navbar>
</div>
<app-customer-auth-modal></app-customer-auth-modal> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-dashboard/> -->
<!-- 
<router-outlet/> -->


      <!-- <app-navbar></app-navbar> -->
      <!-- <app-dashboard/> -->
      <!-- <app-navbar></app-navbar>  -->
 
<!-- <app-card></app-card>
<app-list-packages/> 
<app-footer></app-footer> -->
<!-- <router-outlet id="router-view"></router-outlet>
<router-outlet/>
<app-card-detail></app-card-detail>  -->
