<app-agent-navbar/>

<h1 class="p-2">List of your Current Packages</h1>
 <div class="container">
    <div class="row p-2 " style="justify-content: space-around;">
        <div class="card col-md-3 m-4 shadow-medium hover-lift" style="cursor: pointer;" *ngFor="let pkg of packages">
            <img [src] = "pkg.ImageSrc" class="card-img-top" alt="{{pkg.Title}}">
            <div class="card-body" style="display: flex; justify-content: space-between; flex-direction: column;">
                <h5 class="card-title">{{pkg.Title}}</h5>
                <p class="card-text">{{pkg.Description}}</p>
                <!-- <a href="#" class="btn btn-primary">Book now    </a> -->
                 <a [routerLink] = "['/agent/package', pkg.PackageID]" class="btn btn-primary formControl" >Package Detail</a>
            </div>
            
        </div>
    </div>
 </div>
