<style>
  @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lugrasimo&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
</style>

<app-agent-navbar />

<div class="agent-home1">
  <div class="upper-div">
    <h1 style="color: black">Welcome Back Agent 01</h1>
    <h3>What's on your mind today?</h3>
  </div>

  <app-motivator/>

  <div class="d-flex justify-content-around flex-wrap mt-4">
    <button class="btn btn-primary m-2" (click) = "navigateTo('agent/create-package')" >
      <i class="bi bi-plus-circle"></i> Create Package
    </button>
    <button class="btn btn-warning m-2" (click) = "navigateTo('/agent/packages')">
      <i class="bi bi-pencil-square"></i> Update Package
    </button>
    <button class="btn btn-info m-2" (click) = "navigateTo('/agent/packages')">
      <i class="bi bi-search"></i> See Your Current Packages
    </button>
  </div>
</div>
