<style>
  @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lugrasimo&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
</style>

<app-agent-navbar />

<div class="agent-home1">
  <div class="upper-div">
    <h1 style="color: black">Welcome Back Agent 01</h1>
    <h3>What's on your mind today?</h3>
  </div>

  <app-motivator/>

 <div class="d-flex justify-content-center flex-wrap mt-4">
  <div class="action-card create" (click)="navigateTo('agent/create-package')">
    <i class="bi bi-plus-circle-fill icon"></i>
    <h5>Create Package</h5>
    <p>Tailor a new travel plan for your client.</p>
  </div>

  <div class="action-card update" (click)="navigateTo('/agent/packages')">
    <i class="bi bi-pencil-square icon"></i>
    <h5>Update Package</h5>
    <p>Modify existing packages with new details.</p>
  </div>

  <div class="action-card view" (click)="navigateTo('/agent/packages')">
    <i class="bi bi-search icon"></i>
    <h5>See Your Packages</h5>
    <p>Browse all your current travel packages.</p>
  </div>
</div>


</div>


