<body>
  <div class="form">
    <h3>Admin Login</h3>
    <br>
    <form class="formsgroup" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <label class="mb-2" for="emailId">Enter your Email:</label>
      <br>
      <input class="mb-2" type="email" name="emailId" id="emailId" placeholder="Email" ngModel required>
      <br>
      <label class="mb-2" for="password">Enter your password:</label>
      <br>
      <input class="mb-2" type="password" name="password" id="password" placeholder="Password" ngModel required>
      <br>
      <br>
      <button type="submit" class="btn btn-info" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
<div class="login-form-container">
<h3>Admin Login</h3><br/>
<form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
  <div class="mb-3">
    <label for="emailId" class="form-label">Email</label>
    <input type="email" #emailId="ngModel" class="form-control" id="emailId" name="emailId" [(ngModel)]="login.email" placeholder="Enter your email" required email/>
    <!-- Validating the touch and dirty -->
    <span class="text-danger" *ngIf="(emailId.touched && emailId.errors?.['required']) ">
      <p class="m-2">Email is required!!</p>
    </span>
    <!-- Validating the vaild email id using @ -->
    <span class="text-danger" *ngIf="(emailId.dirty && emailId.errors?.['email'])">
      <p class="m-2">Enter a valid email address (e.g., user&#64;example.com).</p>
    </span>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" #password="ngModel" class="form-control" id="password" name="password" [(ngModel)]="login.password" placeholder="Enter your password" required minlength="8" maxlength="20"/>
    <!-- Validating the touch and dirty -->
    <span class="text-danger" *ngIf="(password.touched && password.errors?.['required'])">
      <p class="m-2">Password is required!!</p>
    </span> 
    <!-- Validating the minimum length -->
    <span class="text-danger" *ngIf="(password.dirty && password.errors?.['minlength'])">
      <p class="m-2">The password must contain minimum of 8 characters</p>
    </span>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>

<div class="text-center mt-3">
  Don't have an Account? 
  <a [routerLink]="['/signup']" class="text-primary fw-bold text-decoration-none">Signup</a>
</div>
</form>
</div>
</div>

