<app-navbar class="navbar-expand-lg navbar-light bg-transparent position-absolute top-0 start-0 w-100 p-1 z-3"></app-navbar>
<div class="position-relative" style="height: 50vh;"> 
  <img src="home3.jpg" class="w-100" style="height: 50vh; object-fit: cover;">
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>
  <app-searchbar class="position-absolute top-0 start-0 w-100"></app-searchbar>
</div>
<router-outlet id="router-view"></router-outlet> 
<app-carousel></app-carousel>
<app-card></app-card>
<app-footer></app-footer>