<h3>Create Account</h3><br/>
<form [formGroup]="signupForm" (submit)="onSubmit()">
  <div class="mb-3">
    <label for="userName" class="form-label">Username</label>
    <input type="text" class="form-control" id="userName" name="userName" formControlName="userName" required/>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" formControlName="password"/>
  </div>
  <div class="mb-3">
    <label for="conPassword" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="conPassword" name="conPassword" formControlName="conPassword"/>
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>