  .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #f8f9fa;
}
 
.nav-left ul,
.nav-right ul {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.nav-left ul li,
.nav-right ul li{
    margin:0 20px;
}
 
 
li {
  list-style-type: none;
}
a{
  text-decoration: none;
  color:black;
  position:relative;
}
a::after{
  content:"";
  position:absolute;
  height:2px;
  width:100%;
  left: 0;
  bottom:-8px;
  background-color:black;
  transform: scaleX(0);
  transition:transform 0.3s ease-in-out;
}
 
a:hover::after{
  transform:scaleX(1);
}