.btn {
  border: 1px solid black;
  background: black;
  color: white;
  padding: 8px 16px;
  margin: 0;
  border-radius: 0;  
}

.btn:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.btn:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btn:hover {
  background: rgb(40, 40, 40);
}
